<style>
    #clustrmaps-container {
    width: 3%; /* 5vw Adjust the width as needed */
    float: right; /* Right align on larger screens */
    }
    @media screen and (max-width: 50px) { /* 30px Adjust the breakpoint as needed */
        #clustrmaps-container {
            width: 80vw; /* 10% Adjust the width for smaller screens */
            float: right; /* Keep it right-aligned or change as needed */
        }
    }
</style>

{% capture footer_contents %}
  {{ site.time | date: '%Y' }}
  {{ site.first_name }}
  {{ site.middle_name }}
  {{ site.last_name }}. {{ site.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
        <div id="clustrmaps-container">
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d={{ site.clustrmaps }}"></script>
        </div>
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
